body {
  background-image: linear-gradient(to right, #434343 0%, black 100%);   
   padding: 20px;
   margin: 0;
 }

  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  .white{
      color: #fff;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #fff;
    padding: 0;
  }
  ul.header li a {
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #FFF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .active {
    background-color: #DB7093;
  }
  ul {
    background: #DB7093;
    padding: 20px;
  }

  ul li {
    background: #ffffff;
    margin: 5px;
  }

  .social-container {
    background: #eee;
    padding: 25px 50px;
  }

  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }

  a.social:hover {
    transform: translateY(-2px);
  }

  a.github {
    color: #000000;
  }
  
  a.linkedin {
    color: #4968ad;
  }
  
  a.gitlab {
    color: brown;
  }
  
  a.mail {
    color: black;
  }
